body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: grey;
    color: black;
}

#top_nav {
    background-color: black;
    color: white;
    height: 50px;
}

#logo {
    margin: 0px 30px;
    padding: 1px;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}

ol > li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 18px;
    padding: 12px;
    font-size: 16px;
}

ol > li > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#intro {
    height: 400px;
    background-color: #116466;
    text-align: center;
    padding: 180px;
}
