body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    color: black;
}

#top_nav {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    height: 50px;
}

#logo {
    margin: 0px 30px;
    padding: 1px;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}

ol > li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 16px;
    padding: 12px;
    font-size: 16px;
}

ol > li > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ol > li > a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 2s;
}

#intro {
    height: 660px;
    background-image: url(img/img.jpg);
    background-size: 100%;
    background-position-y: -140px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 180px;
}

#portfolio {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*background-color: #116466;*/